name: Minify and Bundle UserScript.js

on:
  push:
    branches:
      - main

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install deps
        run: npm install whatwg-fetch core-js @formatjs/intl-getcanonicallocales @formatjs/intl-locale @formatjs/intl-displaynames esbuild

      - name: Bundle and Minify
        run: npx esbuild mods/userScript.js --bundle --minify --outfile=mods/inject.js

      - name: Commit and push bundled userscript
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add mods/inject.js
          git diff --cached --quiet || (
            git commit -m "Auto-bundle and minify UserScript.js [CI]"
            git push
          )

      - name: Upload to GitHub Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: mods/inject.js
